.announcement {
  height: 40px;
  background-color: #67ddeb;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 800;
  border-radius: 3px;
  animation: reveal 1800ms ease-in-out forwards 200ms,                                       glow 1800ms linear infinite 200ms;
  -webkit-animation: reveal 1800ms ease-in-out forwards 200ms,                                       glow 1800ms linear infinite 200ms;

}

@keyframes reveal {
    80%{
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @keyframes glow {
    70% {
      text-shadow: 0 0 8px rgb(224, 25, 3);
    }
  }