/*Social media@start*/

.social-container {
  background-color: white;
  padding: 15px 50px;
  text-align: center;
  bottom: 0;
  overflow: hidden;
  width: 100%;
}
.social-container, h3 {
  color: #28b5c7;
  font-weight: bold;
  margin: 10px 10px;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.power-text {
  color: #28b5c7;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 12px;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
  font-size: 12px;
  width: 15px;
  height: 38px;
}

a.social:hover {
  transform: translateY(-2px);

}
a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}
a.linkedin {
  color: #49a1eb;
}
a.instagram {
  color: #f09433;
  color: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  color: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  color: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}
a.pinterest {
  color: #C8232C;
}

.socialConnect{
  margin-top: 220px;
  overflow: hidden;
  bottom: 0;
}

@media only screen and (min-width: 600px){
		.socialConnect{
			width: 100%;
		}
}

/*Social media@end*/